<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bandwidth: Tiny Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Send a canned SMS message to Rich</h1>
<form action="#" th:action="@{/bandwidth/demo/sendSMS}" th:object="${demoform}" method="post">
    <p>Your phone number: <input type="text" th:field="*{sourceDN}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<h1>Send a custom SMS message to Rich</h1>
<form action="#" th:action="@{/bandwidth/demo/sendSMS}" th:object="${demoform}" method="post">
    <p>Your phone number: <input type="text" th:field="*{sourceDN}" /></p>
    <p>Message: <input type="text" th:field="*{customMessage}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<h1>Call Rich</h1>
<form action="#" th:action="@{/bandwidth/demo/makeCall}" th:object="${demoform}" method="post">
    <p>Your phone number: <input type="text" th:field="*{sourceDN}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<hl>What is this?</hl>
This was a short little exercise I did for myself over a weekend to learn a bit
about the APIs and services provided by <a href="https://bandwidth.com">Bandwidth.</a>. It
is just a simple SpringBoot app running in a Docker container on my Qnap NAS box at home.
The really simple source code and more details can be found <a href="https://github.com/devicenul/bwdemo">here</a>
on GitHub. You get more details about me on on <a href="https://www.linkedin.com/in/rrjefferson/">LinkedIn</a>.

</body>
</html>